:root {
    --title-color-1: #acbdce;
    --border-color: #212931;
    --secondary-color: #535d68;
    --divider-color: rgba(131, 145, 165, 0.1);
    --main-background: #111316;
    --second-background: #1c1e20;
    --third-background: #191d20;
    --code-background: #0d181a;
}

/* main UI  
 * ================================================================================================*/

.mainpage {
    margin: 0 auto;
    padding: 4rem 1rem 0 1rem;
    max-width: 40em;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Arial, "Segoe UI", Roboto, "Helvetica Neue", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Sans TC", "微軟正黑體", Microsoft JhengHei, 新細明體, PMingLiU;
    font-size: 1rem;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    height: 100%;
    background: var(--main-background);
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-button {
        background: transparent;
        height: 2px;
    }

    &::-webkit-scrollbar-track-piece,
    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: var(--title-color-1);
        border: 1px solid var(--main-background);
    }
}

/* titles
 * ================================================================================================*/
h2 {
    font-size: 1.25rem;
    color: var(--title-color-1);
    padding: 0.6rem 0;
    margin: 2rem 0 0 0;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 16px 0;
    grid-gap: 1rem;
}

h2:after,
h2:before {
    content: " ";
    display: block;
    border-bottom: 1px solid var(--title-color-1);
}

.title-h {
    color: var(--title-color-1);
}

/* main blocks
 * ================================================================================================*/
.card {
    border: 1px solid #222b31;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: transparent;
}

.card-body {
    background-color: #191d20;
    color: #a7a7a7;
    text-align: left;
}

/* video
 * ================================================================================================*/
.div-video {
    --border-width: 3px;
    position: relative;
    color: white;
    background: #222;
    border-radius: var(--border-width);

    &::after {
        position: absolute;
        content: "";
        top: calc(-1 * var(--border-width));
        left: calc(-1 * var(--border-width));
        z-index: -1;
        width: calc(100% + var(--border-width) * 2);
        height: calc(100% + var(--border-width) * 2);
        background: linear-gradient(
            60deg,
            hsl(224, 85%, 66%),
            hsl(269, 85%, 66%),
            hsl(314, 85%, 66%),
            hsl(359, 85%, 66%),
            hsl(44, 85%, 66%),
            hsl(89, 85%, 66%),
            hsl(134, 85%, 66%),
            hsl(179, 85%, 66%)
        );
        background-size: 300% 300%;
        background-position: 0 50%;
        border-radius: calc(2 * var(--border-width));
        animation: moveGradient 2s alternate infinite;
    }
}

@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
    }
}

/* footer 
 * ================================================================================================*/
footer {
    border-top: 1px solid var(--border-color);
    color: var(--title-color-1);
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
}

footer span,
footer i {
    margin: 0 0.5rem;
    display: inline-block;
    color: var(--secondary-color);
    font-size: smaller;
}

footer i {
    color: #fff;
}

/* overlay on video
 * ================================================================================================*/
.video-overlay-div {
    position: absolute;
    height: 1rem;
    display: none;
    margin-top: 0.2rem;
    margin-left: 1rem;
}

.video-overlay-img {
    height: 100%;
}

.demo-menu-setting {
    padding-left: 0;
}

/* detected objects panel
 * ================================================================================================*/
#divObjWrapper {
    margin-top: 1.1rem !important;
    display: none;
}

#divObjShow {
    display: flex;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    position: relative;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: var(--third-background);
    border: 1px solid #1cb5e0;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px 5px black;
    min-height: 5rem;

    overflow-x: scroll;
    &::-webkit-scrollbar {
        height: 5px;
    }

    &::-webkit-scrollbar-button {
        background: transparent;
        width: 2px;
    }

    &::-webkit-scrollbar-track-piece,
    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: var(--title-color-1);
        border: 1px solid var(--main-background);
    }
}

.obj-wrapper {
    background-color: #1cb5e0;
    margin-right: 0;
    margin-top: 4px;
    border-radius: 10px;
    /* margin-bottom: 6px; */
    margin-left: 0.3rem;
    padding: 4px;
    opacity: 0;
    max-height: 4.5rem;
    max-width: 4.5rem;
}

.obj-text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 4rem;
    display: block;
}

.obj-instance {
    height: 70%;
    background-color: #1cb5e0;
    border-radius: 10px;
    width: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-items: stretch;
}

.obj-text {
    height: 25%;
    display: grid;
    align-content: center;
    margin-top: 0.1rem;
}

.obj-img {
    height: 80%;
    object-fit: contain;
    width: auto;
    display: inline-block;
    vertical-align: top;
}

/* titles in text
 * ================================================================================================*/
h5 {
    font-size: 1.15rem;
    padding: 0.6rem 0;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 1rem;
    margin-bottom: 0;
}

/* code block
 * ================================================================================================*/
pre code {
    background-color: var(--code-background);
    border: 1px solid #999;
    display: block;
    padding: 15px;
}

/* warning block
 * ================================================================================================*/
.div-warn {
    border-left: 0.3rem solid;
    border-left-color: darkred;
    font-size: smaller;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
}

.div-warn-sign {
    color: darkred;
    font-size: larger;
    letter-spacing: 1px;
}

/* info block
 * ================================================================================================*/
.div-info {
    border-left: 0.3rem solid;
    border-left-color: #ffc107;
    font-size: smaller;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
}

.div-info-sign {
    color: #ffc107;
    font-size: larger;
    letter-spacing: 1px;
}

/* quote
 * ================================================================================================*/
quote {
    background-color: #0c2a33;
    color: var(--title-color-1);
    padding: 0.2rem;
    font-size: small;
    border-radius: 5px;
}

/* people image
 * ================================================================================================*/
.img-people {
    border-radius: 50%;
    display: block;
    width: 100%;
    border: 2px solid #1cb5e0;
    box-shadow: 2px 2px 5px 0px black;
}

/* people name
 * ================================================================================================*/
.span-name {
    display: block;
    font-size: large;
    line-height: 1.6rem;
}

/* people skill
 * ================================================================================================*/
.span-skill {
    line-height: 15px;
    display: block;
    font-size: small;
}

/* imgs in text
 * ================================================================================================*/
.img-div-fit {
    display: block;
    width: 100%;
    border: 2px solid #1cb5e0;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px black;
}

.div-left {
    padding-right: calc(var(--bs-gutter-x) * 0.375);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.div-right {
    padding-left: calc(var(--bs-gutter-x) * 0.375);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.img-padding {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* lists
 * ================================================================================================*/
ol li::marker,
li {
    color: #86b7fe;
}

.ol-list {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 1.2rem;
}

.div-max-100px {
    max-width: 100px;
}
